<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/test" routerLinkActive="active"
        >Basics 1</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/templateform" routerLinkActive="active"
        >Template Driven</a
      >
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/reactiveform" routerLinkActive="active"
        >Reactive Forms</a
      >
    </li>
  </ul>
</nav>
